<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <style>
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }
        table, td, th {
             border: 1px solid #ddd;
             text-align: center;
             font-size: 14px;
             width: 70%
             table-layout: fixed;
        }
        th, td {
            padding: 15px;
        }
        tr:hover {background-color: coral;}
    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Add</a>
        <a href="{{ url_for('coursesKPI') }}">Courses</a>
        <a href="#">About</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>