<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Courses KPI form</a>
        <a href="{{ url_for('coursesKPI') }}">Courses</a>
        <a href="{{url_for('priceSimulator')}}">Price simulator form</a>
        <a href="{{url_for('sales')}}">Sales</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>