{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Courses {% endblock %}</h1>
<table>
  <td><form method="POST" action="/coursesKPI/">
                <input type="submit" value="Reset" name="Reset" />

        </form></td>
  <td><form action="/">
    <input type="submit" value="Add another course" />
</form>
  </td>
</table>
<p>Here is the separation between menu and data</p>
<table>
  <thead>
  <tr>
    <th>Nume curs</th>
    <th>Durata curs (ore)</th>
    <th>Cost curs (EUR)</th>
    <th>Cost liceenta (EUR/sturent)</th>
    <th>Numar studenti (avg/iteratie)</th>
      <th>Numar iteratii</th>
    <th>Nume trainer</th>
    <th>Rate orar trainer (EUR)</th>
      <th>Cost operational (EUR/student)</th>
    <th>Cost marketing (EUR/an)</th>
    <th>Cost trainer (EUR/an)</th>
      <th>Cost liceente (EUR/an)</th>
    <th>Costuri operationale (EUR/an)</th>
    <th>Total incasari (EUR/an)</th>
      <th>Total costuri (EUR/an)</th>
    <th>Profit (EUR)</th>
  </tr>
  </thead>
  <tbody>
{% for Course in courseList %}
  <tr>
    <td>{{Course['CourseName']}}</td>
      <td>{{Course['CourseHours']}}</td>
    <td>{{Course['CourseCost']}}</td>
      <td>{{Course['CourseLicenseCost']}}</td>
      <td>{{Course['CourseStudents']}}</td>
      <td>{{Course['CourseIterations']}}</td>
      <td>{{Course['CourseTrainer']}}</td>
      <td>{{Course['CourseTrainerRate']}}</td>
      <td>{{Course['CourseStudentOperationalCost']}}</td>
      <td>{{Course['courseMarketingCost']}}</td>
      <td>{{Course['courseDeliveryCost']}}</td>
      <td>{{Course['courseTotalLicenseCost']}}</td>
      <td>{{Course['courseTotalOperationalCost']}}</td>
      <td>{{Course['courseTotalRevenue']}}</td>
      <td>{{Course['courseTotalCosts']}}</td>
      <td>{{Course['courseProfit']}}</td>
  </tr>
 {% endfor %}
</tbody>
</table>
{% endblock %}
