{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Courses {% endblock %}</h1>
    </body>

    <hr>
<table>
  <thead>
  <tr>
    <th>Task</th>
    <th>Tip assignment</th>
    <th>Complexitate</th>
    <th>Durata (MD - estimare)</th>
    <th>Propunere daily rate</th>
    <th>Sample</th>
  </tr>
  </thead>
  <tbody>
{% for item in priceSimulatorData %}
  <tr>
    <td>{{item['workItem']}}</td>
      <td>{{item['workItemType']}}</td>
    <td>{{item['workItemTypeComplexity']}}</td>
      <td>{{item['workItemDuration']}}</td>
      <td>{{item['simulatedRate']}}</td>
      <td>{{x}}</td>
      <td>cdasda</td>
  </tr>
 {% endfor %}
</tbody>
</table>
{% endblock %}
