{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %} Simulator oferta pret {% endblock %}</h1>
    <form action="/priceSimulator/" method="POST">
        <label for="workItem">Work item</label><br>
        <input type="text" id="workItem" name="workItem">
        <label for="workItemType">Work item type</label>
        <select id="workItemType" name="workItemType">
          <option value="B2B Courses">B2B Courses</option>
          <option value="Consultancy">Consultancy</option>
        </select>
        <label for="complexity">Work item complexity</label>
        <select id="complexity" name="complexity">
          <option value="High">High</option>
          <option value="Mid">Mid</option>
            <option value="Low">Low</option>
        </select>
        <label for="duration">Work item duration:</label>
        <input type="number" id="duration" name="duration" min="1" max="30"><br>
        <input type="submit"  value="Simulate rate">
    </form>
    <div>
    <form action="/Sales/" method = "POST">
   <p><input type = "submit" value = "Get sales data" /></p>
    </form>
</div>
    <table>
        <tr>
            <th>Work item</th>
        <th>Work item type</th>
      <th>Work item complexity</th>
                  <th>Duration (days)</th>
      <th>Work item base cost</th>
       <th>Work item complexity factor</th>
    <th>Work item duration factor (days)</th>
<th>Proposed price (EUR)</th>
        </tr>
{% for simulation in simulationDict %}
        <tr>

            <td>{{simulation['Work item']}}</td>
        <td>{{simulation['Work item type']}}</td>
        <td>{{simulation['complexity']}}</td>
        <td>{{simulation['duration']}}</td>
        <td>{{simulation['baseRate']}}</td>
        <td>{{simulation['complexityFactor']}}</td>
       <td>{{simulation['durationFactor']}}</td>
        <td>{{simulation['simulatedRate']}}</td>
        </tr>
          {% endfor %}

    </table>

{% endblock %}