{% extends 'base.html' %}
{% block content %}
    <h1>{% block title %} Sales list {% endblock %}</h1>
<div class="output">

<table id="table1">
    <thead>
    <tr>
        <th>ID Factura</th>
        <th>Client</th>
        <th>Suma</th>
        <th>Work type</th>
        <th># of days</th>
        <th>Update record</th>
    </tr>
    </thead>
    <tbody>
        {% for row in result %}
            <tr>
                <td>{{row.id}}</td>
                <td>{{row.client}}</td>
                <td>{{row.total}}</td>
                <td>{{row.workType}}</td>
                <td>{{row.workDays}}</td>
                <td>
                <form action="/saleDetails/{{row.id}}" method="post">
                    <button name="saleDetails" value="{{row.id}}" type="submit">Details</button>
                </form>
                </td>
            </tr>
        {% endfor %}
    <th colspan="2">Total (LEI)</th>
    <td>{{t}}</td>
    </tbody>
</table>

<canvas id="statChart" style="width:100%;max-width:700px"></canvas>
    <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
    <script>
var xValues = ["Coaching", "Consultancy", "Courses"];
var yValues = [{{ coaching1 }}, {{ consultancy1 }}, {{ courses1 }}];
var barColors = ["red", "green","blue"];

new Chart("statChart", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Income categories"
    }
  }
});


new Chart("myChart", {
  type: "pie",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    title: {
      display: true,
      text: "Totals pie"
    }
  }
});
</script>

</div>
{% endblock %}